@charset "utf-8";
@import url('common.css');
.sort1 {
    width: 80%;
    height: 50px;
    margin: 10% 10% 5% 10%;
    border: 1px solid black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.sort1 .menulist {
    width: 20%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    border-right: 1px solid black;
}

.sort1 .menulist .selected {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sort1 .menulist .selected>div {
    width: 90%;
}

.sort1 .menulist .selected>a {
    display: block;
    width: 10%;
}

.sort1 .menulist li {
    width: 100%;
    height: 100%;
}

.sort1 span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 18%;
    height: 100%;
    padding-left: 25%;
}

.title {
    font-size: 3rem;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 30px;
}

.sort2 {
    width: 80%;
    margin: 1% auto;
    text-align: right;
}

.sort2 select {
    width: 8%;
    background: #eee;
}

.itemlist .mainlist {
    width: 90%;
    margin-left: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.itemlist .mainlist nav {
    width: 10%;
    height: 70px;
    position: sticky;
    top: 50%;
    transform: translate(0, -50%);
}

.itemlist .mainlist nav a {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid black;
    border-radius: 100%;
    opacity: 0.8;
}

.itemlist .items {
    width: 90%;
    padding-top: 40px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
}

.itemlist ul li {
    width: 30%;
    margin-bottom: 5%;
}

.itemlist ul li figure {
    width: 100%;
}

.itemlist ul li figure img {
    width: 100%;
}

.itemlist ul li figure p {
    width: 100%;
    margin-top: 7%;
    text-align: center;
}

.more {
    width: 5%;
    border: 2px solid black;
    text-align: center;
    margin: 5% auto;
}

.mobileBottomBtn {
    width: 100%;
    height: 20px;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
}

.mobileBottomBtn a {
    text-align: center;
    width: 50%;
}

.mobileBottomBtn a:nth-child(1) {
    background: #bbb5b1;
}

.mobileBottomBtn a:nth-child(2) {
    background: #eee;
}


/*responsive--------------------------------------------------------------------------------*/


/*mobile*/

@media (max-width:767px) {
    .sort1 {
        width: 80%;
        height: 40%;
        margin: 20% 10% 10% 10%;
        border: 0px solid black;
        display: block;
    }
    .sort1 .menulist {
        width: 50%;
        height: 400%;
        display: block;
        position: static;
        margin: 0 auto;
        border: 1px solid black;
        padding: 0;
    }
    .sort1 span {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        padding-left: 0;
        margin: 5% auto;
        border-left: 0px solid black;
    }
    .title {
        font-size: 2rem;
        width: 80%;
        margin: 5% auto;
        text-align: center;
        border-bottom: 0px solid black;
        border-top: 1px solid black;
        padding-bottom: 30px;
    }
    .sort2 {
        width: 80%;
        margin: 1% auto;
        text-align: center;
    }
    .sort2 select {
        width: 40%;
    }
    .itemlist .mainlist nav a {
        width: 25px;
        height: 25px;
        border: 1px solid black;
    }
    .itemlist ul {
        width: 80%;
        margin: 0 auto;
        padding-top: 40px;
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .itemlist ul li {
        width: 100%;
        margin-bottom: 5%;
    }
    .itemlist ul li:nth-child(n+5) {
        display: none;
    }
    .itemlist ul li figure {
        width: 100%;
    }
    .itemlist ul li figure img {
        width: 100%;
    }
    .itemlist ul li figure p {
        width: 100%;
        margin-top: 7%;
        text-align: center;
    }
    .itemlist ul li:nth-child() {
        display: none;
    }
    .more {
        width: 20%;
        border: 2px solid black;
        text-align: center;
        margin: 5% auto;
    }
    .mobileBottomBtn {
        width: 100%;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 0;
    }
    .mobileBottomBtn a {
        text-align: center;
        width: 50%;
    }
    .mobileBottomBtn a:nth-child(1) {
        background: #bbb5b1;
    }
    .mobileBottomBtn a:nth-child(2) {
        background: #eee;
    }
}


/*mobile and tablet*/

@media (min-width:768px) and (max-width:990px) {
    .sort1 {
        width: 80%;
        height: 50px;
        margin: 10% 10% 5% 10%;
        border: 1px solid black;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .sort1 .menulist {
        width: 20%;
        height: 100%;
        border: 0px;
        padding: 10px;
    }
    .sort1 span {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 25%;
        height: 100%;
        padding-left: 20px;
        border-left: 1px solid black;
    }
    .title {
        font-size: 3rem;
        width: 80%;
        margin: 0 auto;
        text-align: center;
        border-bottom: 1px solid black;
        padding-bottom: 30px;
    }
    .sort2 {
        width: 80%;
        margin: 1% auto;
        text-align: right;
    }
    .sort2 select {
        width: 10%;
    }
    .itemlist ul {
        width: 80%;
        margin: 0 auto;
        padding-top: 40px;
    }
    .itemlist ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .itemlist ul li {
        width: 40%;
        margin-bottom: 5%;
    }
    .itemlist ul li:nth-child(n+7) {
        display: none;
    }
    .itemlist ul li figure {
        width: 100%;
    }
    .itemlist ul li figure img {
        width: 100%;
    }
    .itemlist ul li figure p {
        width: 100%;
        margin-top: 7%;
        text-align: center;
    }
    .more {
        width: 10%;
        border: 2px solid black;
        text-align: center;
        margin: 5% auto;
    }
    .mobileBottomBtn {
        width: 100%;
        height: 20px;
        display: none;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 0;
    }
    .mobileBottomBtn a {
        text-align: center;
        width: 50%;
    }
    .mobileBottomBtn a:nth-child(1) {
        background: #bbb5b1;
    }
    .mobileBottomBtn a:nth-child(2) {
        background: #eee;
    }
}


/*pc and tablet*/

@media (min-width:991px) and (max-width:1279px) {
    /*그대로*/
}