@charset "utf-8";
@import url('common.css');

/*board-------------------------------------------*/

main .title1 {
    width: 70%;
    text-align: center;
    margin: 10% 15% 3% 15%;
    padding-bottom: 10px;
    font-size: 3rem;
    border-bottom: 1px solid black;
}

main .title1 span:nth-child(3) {
    font-size: 2rem;
}

.btn {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1%;
}

.btn .write {
    width: 10%;
    border: 1px solid black;
    text-align: center;
}

.btn .sorting {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn .sorting input {
    width: 60%;
}

.table {
    margin: 0 auto;
    padding-bottom: 20px;
    text-align: center;
    border-collapse: collapse;
}

.table tbody tr {
    height: 50px;
}

.table thead .title {
    background: gray;
}

.list {
    width: 50%;
    margin: 5% auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.list .left a span {
    font-size: 0;
}

.list .right a span {
    font-size: 0;
}

.list .left a::before {
    content: '';
    width: 20px;
    height: 20px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    display: inline-block;
    transform: rotate(-45deg);
}

.list .right a::after {
    content: '';
    width: 20px;
    height: 20px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    display: inline-block;
    transform: rotate(45deg);
}


/*responsive--------------------------------------------------------------------------------*/


/*mobile*/

@media (max-width:767px) {
    /*board-------------------------------------------*/
    main .title1 {
        width: 70%;
        text-align: center;
        margin: 10% 15% 3% 15%;
        padding-bottom: 10px;
        font-size: 2rem;
        border-bottom: 1px solid black;
    }
    main .title1 span:nth-child(3) {
        font-size: 1rem;
    }
    .btn {
        width: 60%;
        margin: 10% auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: wrap;
        margin-bottom: 1%;
    }
    .btn .write {
        width: 50%;
        border: 1px solid black;
        text-align: center;
        margin-right: 1%;
        background: #bbb5b1;
    }
    .btn .sorting {
        width: 80%;
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .btn .sorting input {
        width: 50%;
    }
    .btn .sorting select {
        width: 30%;
    }
    .btn .sorting select optgroup option {
        font-size: 0.5rem;
    }
    .table {
        margin: 3% auto;
        padding-bottom: 20px;
        text-align: center;
        border-collapse: collapse;
        font-size: 0.5rem;
    }
    .table tbody tr td {
        height: 10px;
    }
    .table thead .title {
        background: gray;
    }
    .table tbody tr:nth-child(n+6) {
        display: none;
    }
    .list {
        width: 60%;
        margin: 5% auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
    }
    .list .left a span {
        font-size: 0;
    }
    .list .right a span {
        font-size: 0;
    }
    .list .left a::before {
        content: '';
        width: 15px;
        height: 15px;
        border-top: 1px solid black;
        border-left: 1px solid black;
        display: inline-block;
        transform: rotate(-45deg);
    }
    .list .right a::after {
        content: '';
        width: 15px;
        height: 15px;
        border-top: 1px solid black;
        border-right: 1px solid black;
        display: inline-block;
        transform: rotate(45deg);
    }
}


/*mobile and tablet*/

@media (min-width:768px) and (max-width:990px) {
    /*그대로*/
}


/*pc and tablet*/

@media (min-width:991px) and (max-width:1279px) {
    /*그대로*/
}